<!-- 필터링된 이슈 조회 -->
<select id="getFilteredIssues" parameterType="map" resultType="Issue">
    SELECT *
    FROM issues
    WHERE 1=1
    <if test="openIssues">
        AND status = 'OPEN'
    </if>
    <if test="createdBy != null">
        AND created_by = #{createdBy}
    </if>
    <if test="assignedTo != null">
        AND assigned_to = #{assignedTo}
    </if>
    <if test="commentedBy != null">
        AND id IN (
        SELECT issue_id
        FROM comments
        WHERE user_id = #{commentedBy}
        )
    </if>
    <if test="closedIssues">
        AND status = 'CLOSED'
    </if>
</select>